</div>
</div>
<div id="scroll">
    <a title="Scroll to the top" class="top" href="#"><img src="images/front/top.png" alt="top" /></a>
</div>
<footer>
    <p><a href="index1.html">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.php">Contact Us</a></p>
    <p>Copyright &copy; CSS3_two | <a href="http://www.cssmoban.com">模板之家</a></p>
</footer>
</div>
<!-- javascript at the bottom for fast page loading -->
<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/jquery.easing-sooper.js"></script>
<script type="text/javascript" src="javascripts/jquery.sooperfish.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('ul.sf-menu').sooperfish();
        $('.top').click(function() {$('html, body').animate({scrollTop:0}, 'fast'); return false;});
    });
</script>
</body>
</html>