<!DOCTYPE HTML>
<html>

<head>
  <title>CSS3_two</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style1.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="javascripts/modernizr-1.5.min.js"></script>
</head>

<body>
  <div id="main"  style="clear: both">
    <header>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">CSS3<span class="logo_colour">_two</span></a></h1>
          <h2>Simple. Contemporary. Website Template.</h2>
        </div>
      </div>
      <nav>
        <div id="menu_container">
          <ul class="sf-menu" id="nav">
            <li><a href="index.html">Blog</a></li>
            <li><a href="examples.html">Archives</a></li>
            <li><a href="page.html">Tages</a></li>
            <li><a href="another_page.html">Favorite</a></li>
            <li><a href="contact.php">About</a></li>
          </ul>
        </div>
      </nav>
    </header>